
@font-face {
  font-family: 'Pyidaungsu';
  src: url('Pyidaungsu.eot?#iefix') format('embedded-opentype'),  url('Pyidaungsu.woff') format('woff'), url('Pyidaungsu.ttf')  format('truetype'), url('Pyidaungsu.svg#Pyidaungsu') format('svg');
  font-weight: normal;
  font-style: normal;
}
